.shape {
  min-height:250px;
  min-width:250px;
  height: 50vh;
  width: 50vh;
  margin-bottom:20px;
}

.shape svg {
  overflow: visible;
  height: 100%;
  width: 100%;
}

.label {
  display: inline-block;
  width:80px;
}

input[type="range"] {
  width:150px;
}

input[type="number"] {
  width:50px;
}

.val {
  display:inline-block;
  width:20px;

}

.animateButton {
  margin:10px;
  height:30px;
  width:150px;
  border:1px solid black;
  border-radius:5px;
  text-align:center;
  line-height: 30px;
  background:#eee;
}

