.shape {
  min-height:250px;
  min-width:250px;
  height: 50vh;
  width: 50vh;
  border:1px solid;
  border-radius:50%;  
}

.shape svg {
  overflow: visible;
  height: 100%;
  width: 100%;
}

.label {
  display: inline-block;
  width:80px;
}

input[type="range"] {
  width:150px;
}

input[type="number"] {
  width:50px;
}

.val {
  display:inline-block;
  width:20px;

}

.animateButton {
  margin:10px auto;
  height:30px;
  width:150px;
  border:1px solid black;
  border-radius:5px;
  text-align:center;
  line-height: 30px;
  background:#eee;
}

.controls {
  margin:auto;
  width:50vh;
  min-width:250px;
  
}

.flex-container {
  display:flex;
  flex-wrap:wrap;
}

.flex-container > div {
  box-shadow: 8px 8px 20px -6px #555;
  margin:15px;
}
.control-wrapper {
  display:flex;
}


